In [7]:
import pandas pd

In [9]:
df = pd.read_excel('latlongdist.xlsx')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 641 entries, 0 to 640
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Cidade     641 non-null    object
 1   Latitude   641 non-null    float64
 2   Longitude  641 non-null    float64
 3   Distancia  641 non-null    int64
dtypes: float64(2), int64(1), object(1)
memory usage: 20.2+ KB

In [10]:
df

                 Cidade   Latitude  Longitude  Distancia
0            Adamantina -51.073695 -21.682012        579
1                Adolfo -49.645128 -21.232494        468
2                 Aguaí -46.973502 -22.057207        197
3                Agudos -48.986320 -22.469433        311
4              Alambari -47.897971 -23.550338        153
..                  ...        ...        ...        ...
636  Águas de São Pedro -47.873395 -22.597749        187
637    Álvares Florence -49.914126 -20.320341        543
638     Álvares Machado -51.472240 -22.076415        566
639  Álvaro de Carvalho -49.719044 -22.084132        421
640                Óleo -49.341924 -22.943461        323

[641 rows x 4 columns]

In [62]:
adamantina = df.groupby('Cidade').get_group('Bauru')
tupa = df.groupby('Cidade').get_group('São Paulo')

In [63]:
import numpy as np

lat1 = np.radians(adamantina['Latitude'].values[0])
lon1 = np.radians(adamantina['Longitude'].values[0])
lat2 = np.radians(tupa['Latitude'].values[0])
lon2 = np.radians(tupa['Longitude'].values[0])


a = np.sin((lat2 - lat1) / 2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin((lon2 - lon1) / 2)**2
c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
dist = 6371.19 * c  
dist

286.7010406484146

In [64]:
adamantina

   Cidade   Latitude  Longitude  Distancia
59  Bauru -49.087142 -22.324569        328

In [12]:
  
import pandas as pd
import numpy as np

class BuscaMapa:
    def __init__(self):
        self.tamanho = int(input('quantas cidades o caminhão vai passar? (Somente números): '))
        self.cidade = [None] * self.tamanho
        self.achou = False
        self.n_elementos = 0
        
    def importando_tabela(self):
        self.df = pd.read_excel('latlongdist.xlsx')
        
        
    
     
    def inicio_objetivo(self):
        df = self.df
        cidade_inicial = input('Qual vai ser a cidade inicial? ')
        objetivo = input('Qual vai ser a cidade final? ')

        self.cidade_inicial = cidade_inicial
        self.objetivo = objetivo
        self.visitado = True
        
    
        #calculo adjacente
        nome_cidade_inicial = df.groupby('Cidade').get_group(cidade_inicial)
        nome_objetivo = df.groupby('Cidade').get_group(objetivo)
        self.lat_obj = np.radians(nome_objetivo['Latitude'].values[0])
        self.lon_obj = np.radians(nome_objetivo['Longitude'].values[0])

        print(f'Você vai começar na cidade: {cidade_inicial}, e vai acabar sua rota na cidade: {objetivo}')
        return
    
            
    def importa_cidades(self):
        df = self.df
            
        if self.n_elementos == 0:
            self.cidade[0] = self.cidade_inicial
            self.cidade[1] = self.objetivo
            self.n_elementos = 2
            return



        i = 1
        p = 1

        cidade1 = input('Inclua a cidade que o caminhão irá passar: ')


        while i < self.n_elementos:
            cidade_escolha = df.groupby('Cidade').get_group(cidade1)
            distancia_cidade_sp = np.radians(cidade_escolha['Distancia'].values[0])

                #cidade menor distância
            distancia_cidade_menor_adjacente = df.groupby('Cidade').get_group(self.cidade[p])
            distancia_menor_sp = np.radians(distancia_cidade_menor_adjacente['Distancia'].values[0])

                #cidade maior distância
            distancia_cidade_maior_adjacente = df.groupby('Cidade').get_group(self.cidade[p - 1])
            distancia_maior_sp = np.radians(distancia_cidade_maior_adjacente['Distancia'].values[0])

                #adjacente entre maior e menor
            lat1 = np.radians(distancia_cidade_menor_adjacente['Latitude'].values[0])
            lon1 = np.radians(distancia_cidade_menor_adjacente['Longitude'].values[0])
            lat2 = np.radians(distancia_cidade_maior_adjacente['Latitude'].values[0])
            lon2 = np.radians(distancia_cidade_maior_adjacente['Longitude'].values[0])


            a = np.sin((lat2 - lat1) / 2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin((lon2 - lon1) / 2)**2
            c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
            adjacente = 6371.19 * c #adjacente entre posicção p e p-1


                #distancia com objetivo ou p-1 com objetivo
            a_obj = np.sin((self.lat_obj - lat2) / 2)**2 + np.cos(lat2) * np.cos(self.lat_obj) * np.sin((self.lon_obj - lon2) / 2)**2
            c_obj = 2 * np.arctan2(np.sqrt(a_obj), np.sqrt(1 - a_obj))
            adjacente_obj = 6371.19 * c_obj

            adjacente_obj_final = adjacente_obj + adjacente


                #diatancia entre cidade atual e objetivo
            lat_atual = np.radians(cidade_escolha['Latitude'].values[0])
            lon_atual = np.radians(cidade_escolha['Longitude'].values[0])
            a_atual = np.sin((self.lat_obj - lat_atual) / 2)**2 + np.cos(lat_atual) * np.cos(self.lat_obj) * np.sin((self.lon_obj - lon_atual) / 2)**2
            c_atual = 2 * np.arctan2(np.sqrt(a_atual), np.sqrt(1 - a_atual))
            adjacente_cidade_atual_obj = 6371.19 * c_atual 
                #distancia entre cidade atual e adjacente
            a_obj_atual = np.sin((lat_atual - lat1) / 2)**2 + np.cos(lat1) * np.cos(lat_atual) * np.sin((lon_atual - lon1) / 2)**2
            c_obj_atual = 2 * np.arctan2(np.sqrt(a_obj_atual), np.sqrt(1 - a_obj_atual))
            adjacente_cidade_atual_menor = 6371.19 * c_obj_atual
                #soma entre duas distancias
            adjacente_cidade_atual = adjacente_cidade_atual_menor + adjacente_cidade_atual_obj


            if adjacente_obj_final > adjacente_cidade_atual:
                p +=1
            i +=1 
                
                




        for k in range(self.n_elementos, p - 1, -1):
            self.cidade[k] = self.cidade[k - 1]


        self.cidade[p - 1] = cidade1
        self.n_elementos += 1

        
        
    def mostra_lista(self):
        print('Essas são as cidades que você deve passar por ordem:')
        for cidades, posicao in zip(self.cidade, range(self.tamanho)):
            print(f'{cidades} - {posicao + 1}°')

In [13]:
busca_mapa = BuscaMapa()
busca_mapa.importando_tabela()
busca_mapa.inicio_objetivo()
busca_mapa.importa_cidades()

quantas cidades o caminhão vai passar? (Somente números): 3
Qual vai ser a cidade inicial? Campinas
Qual vai ser a cidade final? Aparecida
Você vai começar na cidade: Campinas, e vai acabar sua rota na cidade: Aparecida

In [14]:
busca_mapa.importa_cidades()

Inclua a cidade que o caminhão irá passar: Taubaté

In [7]:
busca_mapa.importa_cidades()

Inclua a cidade que o caminhão irá passar: Osasco

In [8]:
busca_mapa.importa_cidades()

Inclua a cidade que o caminhão irá passar: Marília

In [9]:
busca_mapa.importa_cidades()

Inclua a cidade que o caminhão irá passar: Garça

In [10]:
busca_mapa.importa_cidades()

Inclua a cidade que o caminhão irá passar: Bauru

In [15]:
busca_mapa.mostra_lista()

Essas são as cidades que você deve passar por ordem:
Campinas - 1°
Taubaté - 2°
Aparecida - 3°